[user]
	name = Torstein Saltvedt
	email = torstein.saltvedt@gmail.com
[color]
	ui = true
[alias]
	ci = commit
	co = checkout
	df = diff
	ds = diff --cached
	st = status
	br = branch
	unstage = reset HEAD
	pff = pull --ff-only
	discard = checkout --
[push]
	default = matching